html, body, #root {
    height: 100%;
    width: 100%;
    background: #fbfe00;
    display:inline-block;
    color:#000;
    overflow: hidden;
    font-family:Inconsolata;
    margin :0;
    padding : 0;
}
.header{
    width: 100%;
    height: 60px;
    display: inline-block;
  }
.logo{
      text-indent: 75px;
    padding: 0px 10px;
    width: 249px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(https://cdn.glitch.com/c8d4e23d-e413-4afd-b399-ba6ce0f2cc5b%2Fhashtagman.png?1490939756999);
    background-size: contain;
    background-position-x: 20px;
    font-size: 24px;
}
.primary{
    margin : 30px 0px;
    border: 1px solid black;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
}
.primary:hover{
    background: black;
    color: white;
    transition : background .5s ease-in;
}
body{
  background-color: #fbfe00;
}
body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5aadbb;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.header-title {
  flex: 1;
  font-size: 1.5rem;
  margin: 1rem;
  color:black;
}
.header-date {
  flex: 1;
  text-align: right;
  margin: 1rem;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: black;
  height: 60vh;
}
.title-h1 {
  font-weight: 300;
  font-size: 4rem;
  margin: 1rem;
  text-align: center;
}
.title-logo {
  height: 12rem;
  background-color: white;
  border-radius: 1rem;
  margin: 1rem;
}
.title-h2 {
  font-weight: 300;
  font-size: 2rem;
  margin: .5rem;
  text-align: center
}

.footer {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: #1f1f1f;
  text-align: center;
  color: white;
}

/* ----------- iPhone 4 and 4S ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .title-h2{
      font-size: 16px;
      font-weight: 100;
    } 
    .title-h1 {
      font-weight: 400;
      font-size: 22px;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .title-h2{
      font-size: 16px;
      font-weight: 100;
    } 
    .title-h1 {
      font-weight: 400;
      font-size: 22px;
    }
}

/* ----------- iPhone 6 ----------- */


/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.title-h2{
      font-size: 16px;
      font-weight: 100;
    } 
    .title-h1 {
      font-weight: 400;
      font-size: 22px;
    }
}


/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.title-h2{
      font-size: 16px;
      font-weight: 100;
    } 
    .title-h1 {
      font-weight: 400;
      font-size: 22px;
    }
}